<body id="adminBg">

   <div class="container mt-3">
    <div class="container d-flex justify-content-end">
        <button onclick="logout()" id="logoutBtn" class="btn btn-light s" href="/logout">Logout</button>
    </div>
    <div class="container text-light text-center p-3 p">
            <h3 class="welcomeMsg">Welcome to TopTech admin panel</h3>
            <h6>From where you control your store</h6>
    </div>
    <div class="container text-center bg-warning border" style="max-width: 300px; padding: 20px; margin: auto; border-radius: 10px;">
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-success" style="text-decoration: none;" href="/forms">Product Upload Form</a>
            <a class="list-group-item list-group-item-action list-group-item-success" style="text-decoration: none;" href="/products/all">All Products</a>
            <a class="list-group-item list-group-item-action list-group-item-success" style="text-decoration: none;" href="/payment/pay">Payments</a>
            <a class="list-group-item list-group-item-action list-group-item-success" style="text-decoration: none;" href="/payment/expenses">Expenses</a>
            <a class="list-group-item list-group-item-action list-group-item-success" style="text-decoration: none;" href="/payment/info">Income status</a>
        </div>
    </div>
   </div>
    <script>
        function logout() {
    document.cookie = "pcs=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    location.href = '/'
    }
    </script>
</body>