<body>
  <%- include('./partials/header.ejs') %>

  <div class="container f" id="goTotop">
    <div class="row">
      <div class="col-md p-4">
          <h1 class="features">Store Location</h1>
         <p>
          Shop No: 13, 1st floor, Central Shopping Complex, GEC Circle, O R Nizam Road, Chittagong. <br>
            Contact Number: +(880)1984-701062, +(880)1984-701062 <br>
            Email address: toptechonlineshop.bd@gmail.com
         </p>
      </div>
      <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.8658888600075!2d91.81996931401338!3d22.35869218529326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd89aa9c779cb%3A0x1daab9f32f51ba27!2sCentral%20Shopping%20Complex%2C%20562%20O.R.%20Nizam%20Rd%2C%20Chittagong!5e0!3m2!1sen!2sbd!4v1656406650718!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-end mb-5">
    <a href="#goTotop" class="btn btn-outline-info" data-toggle="tooltip" data-placement="left" title="Go to top!"><i class="fas fa-arrow-alt-circle-up"></i></a>
</div>

<%- include('./partials/footer.ejs') %>

<script>
$(document).ready(() => {
   document.querySelectorAll('a[href^="#"]').forEach(anchor => {
       anchor.addEventListener('click', function (e) {
           e.preventDefault();
           document.querySelector(this.getAttribute('href')).scrollIntoView({
               behavior: 'smooth'
           });
       });
   });
})

</script>
</body>
