<body>
    <%- include('./partials/header.ejs') %>
    <div class="container text-center">
      <h5>My Cart</h5>
          <div class="container text-center" id="cartMessageDiv">
            <div class="alert alert-success">
                Your cart is empty!
              </div>
          </div>
    </div>
    <div class="container" id="mobileMyCart">
      
    </div>
    <!-- <div class="container">
      <table class="table table-light table-hover table-bordered">
        <thead class="thead-dark text-center">
          <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Total Price</th>
            <th>Remove items</th>
          </tr>
        </thead>
        <tbody class="text-center" id="cartItems_2">
          
        </tbody>
      </table>
    </div> -->
    <div class="container-fluid">
      <h6 class="m-3 text-success">Cart Total: <span id="totalCartPrice_2" value="0">0</span></h6>
      <div class="container-fluid d-flex justify-content-end">
        <!-- <a href="/checkout" type="button" id="checkoutBtn_2" value="0" class="btn btn-outline-dark btn-sm m-3">Checkout</a> -->
        <button id="checkoutBtn_2" onclick="checkout()" class="btn btn-outline-dark btn-sm m-3">
          Checkout
        </button>
      </div>
    </div>

      <script>
        
        $(document).ready(function(){
          $("#checkoutBtn_2").hide()
          $("#cartMessageDiv").hide()
          let cartData = getCookie("cartData");
          if (cartData != "") {
          $("#checkoutBtn_2").show()
            let decodedCookie = decodeURIComponent(document.cookie);
                      let cartD = decodedCookie.slice(9);
                      let ca = cartD.split('+');
                      let tPrice = 0
                      for (let i = 0; i < ca.length; i++) {
                        const e = ca[i];
                        let arr = e.split(',')
                        // alert(arr)
                        let totalPrice = Number(arr[5])
                        tPrice += totalPrice
                        let up = Number(arr[4])
                        let u = up.toLocaleString("en-IN")
                        let tp = Number(arr[5])
                        let t = tp.toLocaleString("en-IN")
                        $('#mobileMyCart').append(`
                        <div class="container border mt-2 p-2" style="border-radius:10px" remove_2="${arr[0]}">
                        <p><strong>Item Id: </strong> ${arr[0]}</br>
                          <strong>Model: </strong> ${arr[1]}</br>
                          <strong>Brand: </strong> ${arr[2]}</br>
                          <span class="d-flex"><strong>Qty: </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input style="width:70px" onchange="cal(this.value, ${arr[4]}, ${arr[0]})" type='number' value="${arr[3]}" min="1"/></span>
                          <strong>Unit Price: </strong> ${u}</br>
                          <strong>Total Price: </strong> <span cAmount_2="${arr[0]}">${t}</span></p>
                        <button onclick="removeCartItem(${arr[0]})" class="btn btn-outline-danger">Remove</button>
                        </div>
                        `)
                      }
                         let p = tPrice.toLocaleString("en-IN")
                        $('#totalCartPrice_2').val(p)
                        $('#totalCartPrice_2').text(p)
                        // $('#checkoutBtn_2').val(tPrice)
          } else {
            $("#cartMessageDiv").show()
          }
        });

  function cal(v, a, id) {
  let val = Number(v)
  let amount = Number(a)
  let totalAmount = val * amount;
  let ta = totalAmount.toLocaleString("en-IN")
  let GrandAmount = 0;
  document.querySelectorAll(`span[cAmount_2='${id}']`)[0].innerHTML = ta;
  let decodedCookie = decodeURIComponent(document.cookie);
                      let cartD = decodedCookie.slice(9);
                      if (cartD.includes("+") == true) {
                          let ca = cartD.split('+');
                          let cookieData = [];
                          
                        for (let i = 0; i < ca.length; i++) {
                          const e = ca[i];
                          let arr = e.split(',')
                          if (arr[0] == id) {
                            arr[3] = val
                            arr[5] = totalAmount
                            let data = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5]]
                            GrandAmount+= totalAmount;
                            if (i == 0) {
                              cookieData.push(data)
                            } else {
                              cookieData.push('+' + data)
                            }
                          } else {
                            let singleAmount = Number(arr[5])
                            GrandAmount+= singleAmount;
                            if (i == 0) {
                              let data = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5]]
                              cookieData.push(data)
                            } else {
                              let data = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5]]
                              cookieData.push('+' + data)
                            }
                          }
                        }
                        
                        document.cookie = `cartData=${cookieData};path=/;`;
                      } else {
                        let arr = cartD.split(',')
                        arr[3] = val
                        arr[5] = totalAmount
                        GrandAmount+= totalAmount;
                        let data = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5]]
                        document.cookie = `cartData=${data};path=/;`;
                      }
                      
                      
                //  document.getElementById('totalCartPrice').innerHTML = GrandAmount;
                GrandAmount = GrandAmount.toLocaleString("en-IN")   
                 document.getElementById('totalCartPrice_2').innerHTML = GrandAmount;   
}

 function removeCartItem(id) {
  let pid = Number(id)
  document.querySelectorAll(`div[remove_2="${id}"]`)[0].remove()
  
  let decodedCookie = decodeURIComponent(document.cookie);
                      let cartD = decodedCookie.slice(9);
                      
                      if (cartD.includes("+") == true) {
                          let ca = cartD.split('+');
                          let cookieData = [];
                          let GrandAmount = 0;
                        for (let i = 0; i < ca.length; i++) {
                          const e = ca[i];
                          let arr = e.split(',')
                          let pidInArr = Number(arr[0])
                          if (pid !== pidInArr) {
                            let singleAmount = Number(arr[5]);
                            GrandAmount+= singleAmount
                            if (i == 0) {
                              let data = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5]]
                              cookieData.push(data)
                            } else if (cookieData.length > 0) {
                              let data = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5]]
                              cookieData.push('+' + data)
                            } else {
                              let data = [arr[0], arr[1], arr[2], arr[3], arr[4], arr[5]]
                              cookieData.push(data)
                            }
                          }
                        }
                        document.cookie = `cartData=${cookieData};path=/;`;
                        GrandAmount = GrandAmount.toLocaleString("en-IN")  
                        document.getElementById('totalCartPrice_2').innerHTML = GrandAmount;  
                      } else {
                        document.cookie = "cartData=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                        document.getElementById('totalCartPrice_2').innerHTML = 0; 
                      }
                      
                      
                 
 }
 

 function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
      </script>
</body>