<div class="container d-flex justify-content-end mb-5">
    <a href="#goTotop" class="btn btn-outline-info" data-toggle="tooltip" data-placement="left" title="Go to top!"><i class='fas fa-angle-double-up arrowButton' style='font-size:25px;'></i></a>
</div>
<div class="container-fluid text-light border" style="background-color: black;">
    <div class="container-fluid d-flex justify-content-center p-3">
        <h1 class="font-italic text-light ftr_head"> <strong>TopTech</strong></h1>
    </div>
    
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center text-light">
            <i class="fa fa-map-marker mt-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            <p class="ftr_address">Shop No: 13, 1st floor, Central Shopping Complex, GEC Circle, O R Nizam Road, Chittagong.</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="d-flex justify-content-center">
                <i class='fas fa-phone-square-alt' style='font-size:24px'></i>&nbsp;&nbsp;&nbsp;
                <p class="ftr_address">+(880)1984-701062</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class='fas fa-phone-square-alt' style='font-size:24px'></i>&nbsp;&nbsp;&nbsp;
                <p class="ftr_address">+(880)1984-701062</p>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <i class='far fa-envelope-open' style='font-size:24px'></i>&nbsp;&nbsp;&nbsp;
            <p class="ftr_address">toptechonlineshop.bd@gmail.com</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="container mt-2 d-flex flex-column">
                <h6 class="text-light p-2">FOLLOW US</h6>
                <div class="container">
                    <a href="https://www.facebook.com/Presidency-Marine-services-101782122574444" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://twitter.com/PresidencyMari1" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                      <a href="#" class="google"><i class="fab fa-google"></i></a>
                      <a href="https://www.linkedin.com/in/presidency-marine-services-aa7374242?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bxe1rqPDUTtC%2F5I1aoPAzDg%3D%3D" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                </div>
               
            </div>
        </div>
    </div>
    <hr>
    <!-- footer -->
    <div class="container-fluid d-flex justify-content-center">
        <p class="ftr_address">Copyright © 2022 <strong>TopTech</strong>. All Rights Reserved. Dev. By <strong>WebDev Solutions</strong></p>
    </div>
    </div>